*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}
body{

    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    
}
.container{
    background-color: #ddd;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
img{
    margin-top: 10px;
    display: inline-block;
    max-width: 90%;
    width: 400px;
}
.puzzle{
    margin: 10px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    max-height: 100vw;
    width: 400px;
    height: 400px;

}
.playBtn, .restart{
    font-weight: 700;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    color: white;
    border: 0;
    box-shadow: none;
    background-color: #7c4dff;
}   
.square{
    user-select: none;
    z-index: 5;
    background-color: #fff;
    font-size: 24px;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
}
.square:hover{
    background-color: #eee;
    cursor: pointer;
}

.square.empty{
    background-color: #ddd;
    z-index: 3;
}
.panel{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #7c4dff;
    padding: 15px 30px;
    border-radius: 10px;
    max-width: 100vw;
}
h2{
    color: #7c4dff;
    font-size: 2rem;
    margin-bottom: 5px;
}
.panel > *{
    margin: 3px;
}
.stepCount{
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #7c4dff;
    padding: 10px 15px;
}
.time{
    border-radius: 5px;
    color: #fff;
    background-color: #7c4dff;
    padding: 10px 15px;
}

.overlay {
   
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
 }
 .modal {
   
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    
    
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;
    
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
 }
 /* Стили для кнопки закрытия */
 .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
 }

 .modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}